.bg-white {
  background-color: #1d2a39;
}

.border-gray-300 {
  border-color: #3d4d60;
  z-index: 10000;
}

.rotate-45 {
  z-index: 10000;
  border-top: 1px solid #3d4d60;
  border-right: none;
  border-bottom: none;
  border-left: 1px solid #3d4d60;
  box-shadow: none;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 3px;
  z-index: 10 !important;
}

.items-stretch {
  z-index: 200000 !important;
}

.text-gray-400 {
  opacity: 0.5;
}

.bg-blue-100 {
  background-color: #3d4d60;
}

.bg-blue-500 {
  background-color: #3d4d60;
}

.rounded-l-full {
  border-radius: 100% 0 0 100%;
}

.rounded-r-full {
  border-radius: 0 100% 100% 0;
}

.grid-cols-7 {
  row-gap: 3px;
}

.lg:flex-row {
  flex-direction: row;
}
